h1 {
  color: #f44336de;
}

ul {
    list-style-type: "📍"
}

body {
    background-color: #ffeb3b69;
}

/* Стили для каждой карточки города */
.city-card {
    margin: 30px;
    padding: 5px;
    box-sizing: border-box;
    width: 35%;                         /* Ширина карточки */
    border: solid #f4433680 1px;         /* Добавляет тонкую серую рамку вокруг карточки. */
    border-radius: 12px;            /* Скругляет углы рамки на 12 пикселей */
    padding: 15px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

