<html>
<head>
    <title> Cities </title>
</head>

<body>
<h1> Add new city! </h1>

<ul>
    {% for city in cities %}
    <li>
        <div>
            <div>
                {{city['town']}}
            </div>
            <div>
                {{city['visit_date']}}
            </div>
            <input type="checkbox" {% if city.ready %} checked {% endif %}>
            <label for="ready"> Готово </label>
        </div>
    </li>
    {% endfor%}
</ul>

</body>

</html>