<html>
<head>
    <title> Cities </title>
    <script type="text/javascript" src="/static/update.js"></script>
    <link href="/static/store.css" rel="stylesheet">
    </head>

    <body>
        <h1> Добавьте новый город! </h1>



        <form onsubmit="createCity(event)">
            <div>
                <input type='text' name="totravel" id="totravel">
                <label for="totravel">TOTRAV</label>
            </div>
                <input type="date" name="datE" id="datE">
                <label for="datE">Дата</label>
                <div>
                    <button onclick="createCity()">
                        Добавить
                    </button>
            </div>

        </form>




        <div>
            <button type="button" onclick="clearCities()">Очистить</button>
        </div>
        <ul>
            {% for city in cities %}
            <li class="city-card">
                <div>

                    <div>{{ city['town']}}</div>
                    <div>{{ city['visit_date']}}</div>

<!--                   <input value="{{city['id']}}" onChange="updateCity(this)" name='ready' type="checkbox" {% if city.ready %} checked {% endif %}/>-->
<!--                   <label for="ready">Готово</label>-->
                </div>
            </li>
            {% endfor%}
        </ul>
    </body>
</html>